.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3%;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    transition: color 0.3s ease-in-out;
}


.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff6347;
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}



.navbar a:hover {
    color: #ff6347;
}


.nav {
    width: 100%;
    text-align: center;
}

/* Media query para telas menores */
@media (max-width: 768px) and (min-width: 361px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    img {
        width: 300px;
    }

    .navbar a {
        font-size: 18px;
        padding: 10px;
    }
}

/* Media query para iPad (810 x 1080) */
@media (max-width: 810px) and (min-width: 769px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    img {
        width: 500px;
    }

    .navbar a {
        font-size: 22px;
        padding: 12px;
    }
}

/* Media query para telas muito pequenas */
@media (max-width: 360px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    img {
        width: 250px;
    }

    .navbar a {
        font-size: 16px;
        padding: 8px;
    }
}

@media (min-width: 810px) and (max-width: 1080px) {
   
    /* NavBAr na horizoontal com wrap no centro */
    .navbar {
        flex-direction: row;
        width: 80%;
    }
  
  }