.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #c28840; /* Texto dourado */
}
  
.welcomeMessage {
    font-size: 2.5rem;
    color: #c28840; /* Texto dourado */
    margin-bottom: 20px;
}
  
.introText {
    font-size: 1.5rem;
    color: #c28840; /* Texto dourado */
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .welcomeMessage {
        font-size: 2rem;
    }

    .introText {
        font-size: 1.2rem;
    }
}