.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3%;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    transition: color 0.3s ease-in-out;
}


.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ff6347;
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: #ff6347;
}


.nav {
    width: 100%;
    text-align: center;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    img {
        width: 300px;
    }

    .navbar a {
        font-size: 18px;
        padding: 10px;
    }
}


